{% extends 'base.html' %}

{% load static %}
{% load formtools %}{# from templatetools app #}

{% block main %}
  <form method="get" class="games-filter styled">
    <fieldset class="foldable{% if not filterform.is_bound %} initially-folded{% endif %}">
      <legend>Filter <small>({% if filterform.is_bound %}active{% else %}inactive{% endif %})</small></legend>

      <div class="row">
        {{ filterform.keyword.label_tag }}
        {{ filterform.keyword|addclass:"flexpand" }}
      </div>

      <div class="row">
        {{ filterform.game_lang.label_tag }}
        {{ filterform.game_lang|addclass:"flexpand" }}
      </div>

      <div class="row">
        {{ filterform.rules_lang.label_tag }}
        {{ filterform.rules_lang|addclass:"flexpand" }}
      </div>

      <div class="row submit">
        <button type="submit">Apply filter</button>
        {% if filterform.is_bound %}<a href="{% url 'games:list' %}">Clear all filters</a>{% endif %}
      </div>
    </fieldset>
  </form>

  {% with c=games|length %}
    <h1>{{ c }} {% if filterform.is_bound %}Result{{ c|pluralize }}{% else %}Game{{ c|pluralize }}{% endif %}:</h1>
  {% endwith %}

  <section class="games-list">
  {% for game in games %}
    <article>
      <a href="{% url 'games:detail' slug=game.slug %}">
        <img src="{% static 'Dice-256.png' %}" alt="game illustration">
        <h2>{{ game.title }}</h2>
      </a>
    </article>
  {% empty %}
    <p class="games-list-empty">No games matched your search.</p>
  {% endfor %}
  </section>
{% endblock %}


