:root {
  /* Palette from https://colorpalettes.net/color-palette-4240/ */
  --palette-black: #111b1e;
  --palette-grayblue: #2f4c58;
  --palette-green: #63a583;
  --palette-blue: #6e93d6;
  --palette-beige: #e4dbd9;

  --ui-info-text: #00529B;
  --ui-info-bg: #BDE5F8;
  --ui-success-text: #4F8A10;
  --ui-success-bg: #DFF2BF;
  --ui-warning-text: #9F6000;
  --ui-warning-bg: #FEEFB3;
  --ui-error-text: #D8000C;
  --ui-error-bg: #FFD2D2;
}
body {
  padding: 0;
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}
body > header,
body > .session-info,
body > .message,
body > main,
body > footer {
  box-sizing: border-box;
  width: 100%;
  margin: 0 0 1rem 0;
  padding: 1rem;
  border: 5px solid var(--palette-black);
}

body > main {
  flex-grow: 1;
  padding: 0;
  border: 0;
}

header, footer {
  background: var(--palette-green);
  min-height: 5rem;
}
.session-info {
  background: var(--palette-blue);
}

.message.info {color: var(--ui-info-text); background: var(--ui-info-bg)}
.message.success {color: var(--ui-success-text); background: var(--ui-success-bg)}
.message.warning {color: var(--ui-warning-text); background: var(--ui-warning-bg)}
.message.error {color: var(--ui-error-text); background: var(--ui-error-bg)}


/* ==========
   UTILITIES
   ========== */
.hidden {display: none;}
.flexpand {flex: 1 1;}


/* ==========
   HEADER
   ========== */
header > .title {font-size: 1.5rem}
header > .title > strong {font-size: 2rem;}
header > .tagline {font-style: italic;}
header > .tagline .emoji {font-style: normal;}


/* ==========
   FOOTER
   ========== */
footer {font-size: .75rem;}
footer a[href^="mailto:"] {font-family: monospace}
footer a.favicon-attrib {font-family: monospace}

/* ==========
   FORMS (generic)
   ========== */
form.styled input[type=text],
form.styled button[type=submit],
form.styled select {
  padding: .5rem;
  border-radius: .25rem;
}
form.styled .row {
  margin: 0 0 1rem 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
form.styled .row:last-child {
  margin-bottom: 0;
}
form.styled .row > label {margin-right: 1rem;}
form.styled .row.submit {gap: 1rem;}


/* ==========
   CUSTOM WIDGETS
   ========== */
.lang-choice-widget {
  display: flex;
  align-items: center;
  gap: .5rem;
}
.lang-choice-widget > div {
  flex: 1;
  text-align: center;
}
.lang-choice-widget > div:hover {
  background: var(--palette-beige);
}
.lang-choice-widget label {
  padding: .5rem 0;
  display: inline-block;
  width: 100%;
}


/* ==========
   GAME FILTER FORM
   ========== */
form.games-filter {width: 100%}
form.games-filter > fieldset {
  border: 1px solid #000;
  padding: 0 1rem 1rem 1rem;
  margin: 0;
}
form.games-filter > fieldset.foldable.folded {padding-bottom: 0}
form.games-filter > fieldset.foldable.folded > * {display: none;}
form.games-filter > fieldset.foldable.folded > legend {display: block; margin-bottom: -1px}
form.games-filter > fieldset.foldable > legend {
  float: left;
  background: #ddd;
  border: 1px solid #000;
  width: calc(100% + 2rem + 2px);
  box-sizing: border-box;
  padding: .5rem;
  margin-top: -1px;
  margin-left: calc(-1rem - 1px);
  margin-bottom: 1rem;
  position: relative;
  cursor: pointer;
}
form.games-filter > fieldset.foldable > legend:after {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1rem;
  display: inline-block;
  height: 100%;
  line-height: 2rem;
  color: blue;
  font-size: .75rem;
  content: 'hide [-]';
  font-family: monospace;
}
form.games-filter > fieldset.foldable.folded > legend:after {
  content: 'show [+]'
}

form.games-filter .row.submit a.clear {
  padding: .5rem;
  border-radius: .25rem;
  text-decoration: none;
  color: #000;
  border: 1px solid #000;
}

form.games-filter legend small {
  font-size: .75rem;
  font-style: italic;
}


/* ==========
   GAME LIST
   ========== */
.games-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.games-list > .games-list-empty {
  border: 2px solid red;
  padding: 1rem;
}
.games-list > article {
  border: 2px solid black;
  min-height: 5rem;
}
.games-list > article.unavailable {
  border: 2px dashed #888;
  position: relative;
}
.games-list > article.unavailable > a {
  background-image: repeating-linear-gradient(-45deg,
      transparent,
      transparent 2rem,
      #ccc 2rem,
      #ccc 4rem);
}
.games-list > article.unavailable > a:hover {
  background-image: repeating-linear-gradient(-45deg,
      transparent,
      transparent 2rem,
      var(--palette-beige) 2rem,
      var(--palette-beige) 4rem);
  background-color: unset;
}
.games-list > article.unavailable > a:after {
  content: "(not visible)";
  font-style: italic;
  position: absolute;
  top: .5rem;
  right: .5rem;
  color: #000;
}
.games-list > article > a {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 1rem;
}
.games-list > article > a:hover,
.games-list > article > a:focus {
  background-color: var(--palette-beige);
}
.games-list > article > a > h2 {}
.games-list > article > a > img {
  height: 3rem;
  display: block;
}



/* ==========
   GAME DETAILS
   ========== */
.game-details {}
.game-details > h1 {
  text-align: center;
  font-size: 2.5rem;
  margin: 0 0 1rem 0;
}
.game-details > dl > dt {
  font-weight: bold;
  margin: 0;
}
.game-details > dl > dd {
  margin: 0 0 1rem 0;
}
.game-details > dl > dd:last-child {
  margin-bottom: 0;
}
.game-details > dl > dd > ul {
  list-style: none;
  padding: 0;
}
.game-details .admin-toolbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px dashed #888;
  padding: 1rem;
}
.game-details .admin-toolbox > .title {
  font-weight: bold;
}
.game-details .admin-toolbox > nav {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.game-details .admin-toolbox > nav > a,
.game-details .admin-toolbox > nav > form > button[type="submit"] {
  height: 2rem;
  padding: .5rem 1rem;
  font-size: 1rem;
  box-sizing: border-box;
}


/*
From https://www.freecodecamp.org/news/css-media-queries-breakpoints-media-types-standard-resolutions-and-more/

Now let’s see some common breakpoints for widths of devices:

    320px — 480px: Mobile devices
    481px — 768px: iPads, Tablets
    769px — 1024px: Small screens, laptops
    1025px — 1200px: Desktops, large screens
    1201px and more —  Extra large screens, TV
*/
@media (max-width: 480px) {}
@media (max-width: 768px) {}
@media (max-width: 1024px) {}
@media (max-width: 1200px) {}
@media (min-width: 1201px) {}
